@{

    ViewBag.Title = "Show users";
}
<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
    <h4 class="alert alert-info" role="alert"> @ViewBag.message</h4>
}
<br />

@foreach (var user in ViewBag.UsersList)
{
    <div class="panel-heading">Username: @user.UserName</div>
    <div class="panel-body">

        <i class="glyphicon glyphicon-envelope"></i>User Email:
        <span class="label label-default">@user.Email</span>
        <br /><br />
        @if (@user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:User phone number:<span class="label label-default">@user.PhoneNumber</span>
        }
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id">Edit user </a>
        <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id">Show user</a>
    </div>

    <br /><br />
}